h1,
h2,
h3,
h4,
h5,
h6,
.btn-primary,
.btn-xl,
.navbar-custom .navbar-toggle,
.navbar-custom .nav li a,
header .intro-text .intro-heading,
section#contact ::-webkit-input-placeholder,
section#contact :-moz-placeholder,
section#contact ::-moz-placeholder,
section#contact :-ms-input-placeholder,
footer span.copyright,
footer ul.quicklinks {
  font-family: "Arian AMU", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom .navbar-brand {
  font-family: "MarckScript-Regular", "Helvetica Neue", Helvetica, Arial, cursive;
}

@media (min-width: 768px) {
  header .intro-text .intro-heading {
    font-family: "Arian AMU", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.dropdown-menu {
  color: #fed136;
  background-color: rgba(0,0,0,.15);
}

ul.dropdown-menu {
  box-sizing: border-box;
  width: 100%;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: transparent;
}
