<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">О проекте</h2>
        <h3 class="section-subheading text-muted">Кто, зачем, почему</h3>
      </div>
    </div>
    <p>
      Code Like Noob создается как профессиональное сообщество для продвинутых и не очень веб-разработчиков. Мы предлагаем свою посильную помощь каждому участнику сообщества, ожидая от него того же самого.
    </p>

    <p>
      Одной из наших основных целей является совместная работа над open-source проектами, что позволит нам реализовывать наиболее интересные идеи участников сообщества, одновременно предлагая практику новичкам и опыт управления проектом более продвинутым разработчикам.
    </p>

    <p>
      Основное общение проходит в <a href='https://codelikenoob.herokuapp.com/'>slack-чате</a> сообщества, доступ к которому открыт всем желающим.
    </p>

    <br>
    <p class="text-center">
      <script async defer src="http://codelikenoob.herokuapp.com/slackin.js?large"></script>
    </p>
    <%#= partial "timeline" %>
  </div>
</section>
