<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <%= link_to 'Code Like Noob', '/', class: 'navbar-brand page-scroll' %>
    </div>

    <!-- Collect the nav links, forms, and  other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <%= link_to 'О проекте', '#about', class: 'page-scroll' %>
        </li>
        <li>
          <%= link_to 'Наши разработки', '#portfolio', class: 'page-scroll' %>
        </li>
        <!-- <li> -->
          <%#= link_to 'Услуги', '#services', class: 'page-scroll' %>
        <!-- </li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
