<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>One New Thing</h2>
              <p class="item-intro text-muted">Пробуйте новое каждый месяц</p>
              <h3>MVP</h3>
              <p>
                Список вещей, которые было бы неплохо когда-нибудь начать делать. Идея заключена в том, чтобы пользователь после регистрации создавал для себя список таких вещей, и в начале каждого месяца ему приходило письмо с этим списком. Из письма можно выбрать (нажать на ссылку) одну-две эти вещи, и на сайте они будут помечены как "В прогрессе".
              </p>

              <p>
                3-5 числа каждого месяца всем пользователям, выбравшим себе занятие на следующие 30 дней, будут отправляться письма-напоминания с вопросом "Вы не забыли, что вы хотели в ближайшие 30 дней позаниматься %занятиенейм%?". В письме можно выбрать, отказаться от занятия или "Да, я занимаюсь".
              </p>

              <p>
                По прошествии месяца отправляем пользователям еще письмо, с вопросом, закончили ли они 30-дневный цикл "попробовать что-то новое". Если нет, смотрим на них с укоризной, если да, предлагаем поделиться своим опытом, опубликовав отзыв.
              </p>

              <h3>После запуска в продакшен</h3>

              <p>
                Можно будет добавить такие вещи, как список "новых занятий", популярных среди пользователей, аяксовые штуки и прочее веселое барахло. Потенциал довольно большой, как мне кажется.
              </p>

              <h3>Идеи</h3>
              <p>Бот для Телеграма</p>
              <ul class="list-inline">
                <li>Дата: Сентябрь 2016</li>
                <li>
                  Код проекта: <a href="https://github.com/ruruby/onenewthing">Github</a>
                </li>
                <li>Задачи: <a href="https://trello.com/c/Is357nND/1--">Trello</a></li>

              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
