<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Наши разработки</h2>
        <h3 class="section-subheading text-muted">Opensource-проекты, разрабатываемые участниками сообщества</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="images/portfolio/roundicons.png" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>One New Thing</h4>
          <p class="text-muted">Веб-приложение</p>
        </div>
      </div>
    </div>
  </div>
</section>
