---
title: Code Like Noob Web Development Community
description: Code Like Noob Web Development Community
---

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Добро пожаловать</div>
      <div class="intro-lead-in">Чувствуйте себя как дома.</div>
      <a href="#about" class="page-scroll btn btn-xl">We Code Like Noob</a>
    </div>
  </div>
</header>

<%= partial 'about' %>
<%= partial 'portfolio' %>
<%#= partial 'services' %>
<%= partial 'portfolio_modals' %>
